<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>Y CONNECT</string>
	<key>CFBundleExecutable</key>
	<string>YConnect</string>
	<key>CFBundleIconFile</key>
	<string>YConnect</string>
	<key>CFBundleIdentifier</key>
	<string>io.yaklang.yconnect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Y CONNECT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://aliyun-oss.yaklang.com/yconnect/appcast-macos.xml</string>
	<key>SUPublicEDKey</key>
	<string>6X6ImbA94p87lxpUJ+8WuI2D4XXQjWZWNV/tTGgOG4Y=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
